<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h1 class="logo"><img src="/logo.png" alt="" /></h1>
        <nav></nav>
      </div>
    </header>

    <main class="main-content">
      <section class="hero">
        <div class="hero-text">
          <h2>Welcome to Resource Management System</h2>
          <p>Seamlessly manage your Resources with ease and efficiency.</p>
        </div>
        <div class="login-buttons">
          <a href="/admin/login" class="btn btn-primary">Login as Admin</a>
          <a href="/faculty/login" class="btn btn-secondary"
            >Login as Faculty</a
          >
          <a href="/student/login" class="btn btn-tertiary">Login as Student</a>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="container">
        <p>&copy; 2025 Resource Management . All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
