<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resourse Managment</title>
    <link rel="stylesheet" href="/loginStyle.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.1/cdn/themes/light.css"
    />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.1/cdn/shoelace-autoloader.js"
    ></script>
  </head>
  <body>
    <h2>Student login page</h2>
    <form action="/student/login" method="post" id="student-login-form">
      <div class="userIdContainer">
        <label for="uName">User name</label>
        <input type="text" id="uName" <%- style ? `style="${style}"` : '' %>
        required name="userName" />
      </div>
      <div class="userPassContainer">
        <label for="uPass">Password</label>
        <input type="password" id="uPass" <%- style ? `style="${style}"` : '' %>
        required name="password" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>